@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7000ff;
  --secondary: #ffff00;
  --primary-accent: #e5e5ff;
  --light: #ffffff;
  --light-secondary: #7e818c;
  --dark: #1f2026;
  --dark-secondary: #4d4f59;
  --border: rgba(54, 55, 64, 0.2);
  --product-bg: rgba(54, 55, 64, 0.1);
  --violet: #2f006b;
  --pink: #ff3090;
  --gray: #e6e8ed;

  // font
  --inter: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer components {
  .container {
    @apply mx-auto max-w-[1240px];
  }
}

.cartsContainer {
  border: 0.1rem solid var(--primary-accent);
  &--checking {
    input[type="checkbox"] {
      accent-color: var(--primary);
      width: 20px;
      height: 20px;
    }
    p {
      color: var(--dark-secondary);
    }
  }
  &--delivery {
    p {
      color: var(--light-secondary);
    }
    span {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}

body {
  font-family: var(--inter);
}

//  wishlist and cart button styles
.wishlit__empty--info,
.cart__empty--info {
  button {
    color: var(--light);
    background-color: var(--primary);
  }
}
//  wishlist and cart button styles end

// cart styles
.cart__main--productsText {
  color: var(--light-secondary);
}
.container {
  @apply mx-auto max-w-[1240px];
}
.section-title {
  @apply font-inter text-[28px] font-bold flex items-center mb-[20px] text-dark;
}
// products
.products__list {
  @apply grid grid-cols-5 gap-[20px];
}
// swiper
.swiper {
  @apply select-none;
}

//  Swiper
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-slide {
  gap: 3;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
