@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7000ff;
  --secondary: #ffff00;
  --primary-accent: #e5e5ff;
  --light: #ffffff;
  --light-secondary: #7e818c;
  --dark: #1f2026;
  --dark-secondary: #4d4f59;
  --border: rgba(54, 55, 64, 0.2);
  --product-bg: rgba(54, 55, 64, 0.1);
  --violet: #2f006b;
  --pink: #ff3090;
  --gray: #e6e8ed;

  // font
  --inter: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer components {
  .container {
    @apply mx-auto max-w-[1240px];
  }
}

body {
  font-family: var(--inter);
}

//  wishlist and cart button styles
.wishlit__empty--info,
.cart__empty--info {
  button {
    color: var(--light);
    background-color: var(--primary);
  }
}
//  wishlist and cart button styles end

// cart styles
.cart__main--productsText {
  color: var(--light-secondary);
}
