@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.top-0{
  top: 0px;
}

.right-0{
  right: 0px;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-\[16px\]{
  margin-bottom: 16px;
}

.mb-\[20px\]{
  margin-bottom: 20px;
}

.mb-\[35px\]{
  margin-bottom: 35px;
}

.mb-\[48px\]{
  margin-bottom: 48px;
}

.ml-\[32px\]{
  margin-left: 32px;
}

.mr-\[24px\]{
  margin-right: 24px;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-44{
  margin-top: 11rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-\[40px\]{
  margin-top: 40px;
}

.mt-\[45px\]{
  margin-top: 45px;
}

.mt-\[50px\]{
  margin-top: 50px;
}

.ml-4{
  margin-left: 1rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-20{
  margin-top: 5rem;
}

.mt-0{
  margin-top: 0px;
}

.mt-36{
  margin-top: 9rem;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-10{
  height: 2.5rem;
}

.h-\[32px\]{
  height: 32px;
}

.h-\[40px\]{
  height: 40px;
}

.h-\[51px\]{
  height: 51px;
}

.h-\[6\.2rem\]{
  height: 6.2rem;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.h-8{
  height: 2rem;
}

.h-6{
  height: 1.5rem;
}

.min-h-96{
  min-height: 24rem;
}

.w-10{
  width: 2.5rem;
}

.w-8{
  width: 2rem;
}

.w-\[120px\]{
  width: 120px;
}

.w-\[215px\]{
  width: 215px;
}

.w-\[40px\]{
  width: 40px;
}

.w-\[527\.94px\]{
  width: 527.94px;
}

.w-\[6\.2rem\]{
  width: 6.2rem;
}

.w-\[740px\]{
  width: 740px;
}

.w-\[79\.19px\]{
  width: 79.19px;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.w-\[160px\]{
  width: 160px;
}

.w-6{
  width: 1.5rem;
}

.flex-1{
  flex: 1 1 0%;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.place-items-center{
  place-items: center;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-24{
  gap: 6rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-7{
  gap: 1.75rem;
}

.gap-\[10px\]{
  gap: 10px;
}

.gap-\[11px\]{
  gap: 11px;
}

.gap-\[12px\]{
  gap: 12px;
}

.gap-\[16px\]{
  gap: 16px;
}

.gap-\[19px\]{
  gap: 19px;
}

.gap-\[1px\]{
  gap: 1px;
}

.gap-\[20\.4px\]{
  gap: 20.4px;
}

.gap-\[21\.4px\]{
  gap: 21.4px;
}

.gap-\[23\.62px\]{
  gap: 23.62px;
}

.gap-\[26px\]{
  gap: 26px;
}

.gap-\[28px\]{
  gap: 28px;
}

.gap-\[4px\]{
  gap: 4px;
}

.gap-\[5px\]{
  gap: 5px;
}

.gap-\[7px\]{
  gap: 7px;
}

.gap-\[9px\]{
  gap: 9px;
}

.gap-6{
  gap: 1.5rem;
}

.gap-1{
  gap: 0.25rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-8{
  gap: 2rem;
}

.self-center{
  align-self: center;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded-\[12px\]{
  border-radius: 12px;
}

.rounded-\[20px\]{
  border-radius: 20px;
}

.rounded-\[4px\]{
  border-radius: 4px;
}

.rounded-\[8px\]{
  border-radius: 8px;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-l-\[4px\]{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded-r-\[4px\]{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-r-md{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-l-0{
  border-left-width: 0px;
}

.border-r-0{
  border-right-width: 0px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-none{
  border-style: none;
}

.border-\[\#8B8E99\]{
  --tw-border-opacity: 1;
  border-color: rgb(139 142 153 / var(--tw-border-opacity));
}

.border-\[rgba\(54\2c 55\2c 64\2c 0\.25\)\]{
  border-color: rgba(54,55,64,0.25);
}

.border-border{
  border-color: var(--border);
}

.border-slate-200{
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.bg-\[\#EDEFF2\;\]{
  background-color: #EDEFF2;;
}

.bg-\[\#EDEFF2\]{
  --tw-bg-opacity: 1;
  background-color: rgb(237 239 242 / var(--tw-bg-opacity));
}

.bg-\[\#F0F2F5\]{
  --tw-bg-opacity: 1;
  background-color: rgb(240 242 245 / var(--tw-bg-opacity));
}

.bg-gray{
  background-color: var(--gray);
}

.bg-pink{
  background-color: var(--pink);
}

.bg-primary-accent{
  background-color: var(--primary-accent);
}

.bg-violet{
  background-color: var(--violet);
}

.bg-white\/70{
  background-color: rgb(255 255 255 / 0.7);
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}

.p-1{
  padding: 0.25rem;
}

.p-\[17px_0_11px_0\]{
  padding: 17px 0 11px 0;
}

.p-\[8px\]{
  padding: 8px;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[\.875rem\]{
  padding-left: .875rem;
  padding-right: .875rem;
}

.px-\[8px\]{
  padding-left: 8px;
  padding-right: 8px;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[\.66rem\]{
  padding-top: .66rem;
  padding-bottom: .66rem;
}

.py-\[16px\]{
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-\[18px\]{
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-\[9px\]{
  padding-top: 9px;
  padding-bottom: 9px;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pl-\[17px\]{
  padding-left: 17px;
}

.pt-\[2\.5px\]{
  padding-top: 2.5px;
}

.pt-\[25px\]{
  padding-top: 25px;
}

.pl-4{
  padding-left: 1rem;
}

.pr-16{
  padding-right: 4rem;
}

.pr-6{
  padding-right: 1.5rem;
}

.text-center{
  text-align: center;
}

.font-\[\.875rem\]{
  font-family: .875rem;
}

.font-inter{
  font-family: Inter, sans-serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[\.8rem\]{
  font-size: .8rem;
}

.text-\[1\.375rem\]{
  font-size: 1.375rem;
}

.text-\[11px\]{
  font-size: 11px;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-\[12px\]{
  font-size: 12px;
}

.font-\[500\]{
  font-weight: 500;
}

.font-\[600\]{
  font-weight: 600;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.leading-5{
  line-height: 1.25rem;
}

.leading-6{
  line-height: 1.5rem;
}

.text-\[\#4D4F59\]{
  --tw-text-opacity: 1;
  color: rgb(77 79 89 / var(--tw-text-opacity));
}

.text-\[\#7E818C\]{
  --tw-text-opacity: 1;
  color: rgb(126 129 140 / var(--tw-text-opacity));
}

.text-\[\#8B8E99\]{
  --tw-text-opacity: 1;
  color: rgb(139 142 153 / var(--tw-text-opacity));
}

.text-dark{
  color: var(--dark);
}

.text-dark-secondary{
  color: var(--dark-secondary);
}

.text-primary{
  color: var(--primary);
}

.text-secondary{
  color: var(--secondary);
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline{
  text-decoration-line: underline;
}

.opacity-50{
  opacity: 0.5;
}

.opacity-55{
  opacity: 0.55;
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

:root {
  --primary: #7000ff;
  --secondary: #ffff00;
  --primary-accent: #e5e5ff;
  --light: #ffffff;
  --light-secondary: #7e818c;
  --dark: #1f2026;
  --dark-secondary: #4d4f59;
  --border: rgba(54, 55, 64, 0.2);
  --product-bg: rgba(54, 55, 64, 0.1);
  --violet: #2f006b;
  --pink: #ff3090;
  --gray: #e6e8ed;
  --inter: "Inter", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
}

input[type=checkbox] {
  accent-color: var(--primary);
  width: 20px;
  height: 20px;
}

.cartsContainer {
  border: 0.1rem solid var(--primary-accent);
}

.cartsContainer--checking p {
  color: var(--dark-secondary);
}

.cartsContainer--delivery p {
  color: var(--light-secondary);
}

.cartsContainer--delivery span {
  color: var(--primary);
  border-color: var(--primary);
}

.cartsContainer .cart__item > span {
  color: var(--light-secondary);
}

.cartsContainer .cart__item .salesman-txt {
  color: var(--light-secondary);
}

.cartsContainer .cart__item .counter {
  border-color: var(--light-secondary);
}

body {
  font-family: var(--inter);
}

.section-title{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--dark);
}

.products__list{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

.products__list .product__item span{
  display: inline-block;
}

.products__list .product__item-img{
  position: relative;
}

.products__list .product__item-img .product-wrapper{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: var(--product-bg);
}

.products__list .product__item-title{
  margin-top: 11px;
  margin-bottom: 5px;
  width: calc(100% - 13px);
  font-family: Inter, sans-serif;
  font-size: 13.8px;
  font-weight: 400;
  line-height: 15.36px;
  color: var(--dark);
}

.products__list .product__item-rating{
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: var(--light-secondary);
}

.products__list .product__item-credit{
  margin-top: 5px;
  margin-bottom: 24.28px;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  border-radius: 4px;
  background-color: var(--secondary);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: Roboto, sans-serif;
  color: var(--dark);
}

.products__list .product__item-discount{
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: var(--light-secondary);
  text-decoration-line: line-through;
}

.products__list .product__item-price{
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  color: var(--dark);
}

.products__list .product__tags{
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
}

.products__list .product__tags-item{
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.products__list .product__button{
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: var(--dark);
  transition-duration: 300ms;
  box-shadow: 0px 0px 0px 1px rgba(54, 55, 64, 0.2) inset;
}

.wishlit__empty--info button,
.cart__empty--info button {
  color: var(--light);
  background-color: var(--primary);
}

.cart__main--productsText {
  color: var(--light-secondary);
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}

.section-title{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--dark);
}

.products__list{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

.swiper{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.swiper .swiper{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-slide {
  gap: 3;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.hover\:bg-primary-accent:hover{
  background-color: var(--primary-accent);
}

.hover\:opacity-100:hover{
  opacity: 1;
}

.hover\:opacity-85:hover{
  opacity: 0.85;
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px){
  .md\:block{
    display: block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:hidden{
    display: none;
  }

  .md\:w-\[215px\]{
    width: 215px;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px){
  .lg\:mt-44{
    margin-top: 11rem;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:gap-24{
    gap: 6rem;
  }

  .lg\:gap-\[26px\]{
    gap: 26px;
  }

  .lg\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
/*# sourceMappingURL=output.css.map */